<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="../../templates/template.xhtml">

	<ui:define name="template">

		<h:form id="mainForm">
			<p:dataTable value="#{ViewModelController.viewElements}" var="r"
				paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15,20,25" rows="10">
				<f:facet name="header">
					<p:selectOneMenu value="#{ViewModelController.classNameNewElement}"
						filter="true" filterMatchMode="contains" style="float: left; width: 180px;">
						<f:selectItem itemValue="#{null}" itemLabel="Select"
							itemDisabled="true" />
						<f:selectItem
							itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraButtonModel"
							itemLabel="UltraButtonModel" />
						<f:selectItem
							itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraColumnModel"
							itemLabel="UltraColumnModel" />
						<f:selectItem
							itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraDialogModel"
							itemLabel="UltraDialogModel" />
						<f:selectItem
							itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraInputModel"
							itemLabel="UltraInputModel" />
						<f:selectItem
							itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraInputTextModel"
							itemLabel="UltraInputTextModel" />
						<f:selectItem
							itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraOutputTextModel"
							itemLabel="UltraOutputTextModel" />
						<f:selectItem
							itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraTableModel"
							itemLabel="UltraTableModel" />
						<p:ajax update="createNestedButton" />
					</p:selectOneMenu>
					<p:commandButton id="createNestedButton" icon="fa fa-plus-circle"
						style="float: left; margin-left: 20px;" title="add nested element"
						update=":updateDialog :mainForm"
						oncomplete="PF('updateDialog').show();"
						disabled="#{ViewModelController.classNameNewElement eq null}"
						actionListener="#{ViewModelController.createAbstractViewElement()}" />
				</f:facet>
				<p:column headerText="id" filterBy="#{r.id}"
					filterMatchMode="contains">
					<h:outputText value="#{r.id}" />
				</p:column>
				<p:column headerText="idElement" filterBy="#{r.idElement}"
					filterMatchMode="contains">
					<h:outputText value="#{r.idElement}" />
				</p:column>
				<p:column headerText="type" filterBy="#{r.type}"
					filterMatchMode="contains">
					<h:outputText value="#{r.type}" />
				</p:column>
				<p:column headerText="class"
					filterBy="#{r.getClass().getSimpleName()}"
					filterMatchMode="contains">
					<h:outputText value="#{r.getClass().getSimpleName()}" />
				</p:column>
				<p:column style="width: 90px;">
					<p:commandButton icon="fa fa-edit" title="edit"
						actionListener="#{ViewModelController.setSelectedViewElement(r)}"
						update=":updateDialog" oncomplete="PF('updateDialog').show();" />

					<p:commandButton icon="fa fa-trash" title="delete"
						actionListener="#{ViewModelController.setSelectedViewElement(r)}"
						update=":deleteDialog" oncomplete="PF('deleteDialog').show();" />
				</p:column>
			</p:dataTable>
		</h:form>

		<p:dialog id="deleteDialog" widgetVar="deleteDialog" modal="true"
			appendTo="@(body)" width="50%" resizable="false">
			<h:form>
				<center>
					<h:outputText style="margin: 50px;"
						value="do you want to delete the ViewElement #{ViewModelController.selectedViewElement.getClass().getSimpleName()} with id #{ViewModelController.selectedViewElement.id}?" />
				</center>

				<p:panelGrid columns="2" styleClass="ui-noborder"
					style="text-align: center; width: 80%;">
					<p:commandButton icon="fa fa-check" title="delete"
						actionListener="#{ViewModelController.deleteSelectedViewElement()}"
						update="@all"
						oncomplete="PF('deleteDialog').hide();" />
					<p:commandButton icon="fa fa-close" style="float: right;"
						title="close dialog" update=":updateDialog :mainForm"
						oncomplete="PF('deleteDialog').hide();"
						actionListener="#{ViewModelController.cancelUpdate()}" />
				</p:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog id="updateDialog" widgetVar="updateDialog" modal="true"
			appendTo="@(body)" width="80%" resizable="false">
			<h:form>
				<p:panelGrid columns="2" style="width: 100%;"
					styleClass="ui-noborder">
					<p:commandButton icon="fa fa-reply" style="float: left;"
						title="previous element"
						actionListener="#{ViewModelController.setPreviousElement()}"
						update=":updateDialog" oncomplete="PF('updateDialog').show();"
						disabled="#{ViewModelController.prevStackEmpty}" />
					<p:commandButton icon="fa fa-share" style="float: right;"
						title="next element"
						actionListener="#{ViewModelController.setNextElement()}"
						update=":updateDialog" oncomplete="PF('updateDialog').show();"
						disabled="#{ViewModelController.nextStackEmpty}" />
				</p:panelGrid>
				<p:separator />
				<h:outputText value="AbstractViewElement"
					style="font-weight: bold; margin-bottom: 500px;" />

				<p:panelGrid columns="4" styleClass="ui-noborder">
					<h:outputText value="Id" />
					<p:inputText disabled="true"
						value="#{ViewModelController.selectedViewElement.id}" />

					<h:outputText value="type" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.type}" />

					<h:outputText value="idElement" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.idElement}" />
				</p:panelGrid>

				<p:separator />
				<h:outputText
					value="#{ViewModelController.selectedViewElement.getClass().getSimpleName()}"
					style="font-weight: bold;" />

				<!-- Edit TableModel -->
				<p:panelGrid columns="4" styleClass="ui-noborder"
					rendered="#{ViewModelController.selectedViewElement.getClass().getSimpleName() == 'UltraTableModel'}">
					<h:outputText value="bean" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.bean}" />

					<h:outputText value="list name" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.listName}" />
				</p:panelGrid>

				<!-- Edit ColumnModel -->
				<p:panelGrid columns="4" styleClass="ui-noborder"
					rendered="#{ViewModelController.selectedViewElement.getClass().getSimpleName() == 'UltraColumnModel'}">
					<h:outputText value="header" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.header}" />
				</p:panelGrid>

				<!-- Edit OutputTextModel -->
				<p:panelGrid columns="4" styleClass="ui-noborder"
					rendered="#{ViewModelController.selectedViewElement.getClass().getSimpleName() == 'UltraOutputTextModel'}">
					<h:outputText value="value" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.value}" />
				</p:panelGrid>

				<!-- Edit ButtonModel -->
				<p:panelGrid columns="4" styleClass="ui-noborder"
					rendered="#{ViewModelController.selectedViewElement.getClass().getSimpleName() == 'UltraButtonModel'}">
					<h:outputText value="bean" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.bean}" />
					<h:outputText value="methodName" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.methodName}" />
					<h:outputText value="value" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.value}" />
					<h:outputText value="icon" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.icon}" />
					<h:outputText value="onClick" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.onClick}" />
					<h:outputText value="onComplete" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.onComplete}" />
					<h:outputText value="Update" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.update}" />
					<h:outputText value="with Parameter" />
					<p:selectBooleanCheckbox
						value="#{ViewModelController.selectedViewElement.parameter}" />
				</p:panelGrid>

				<!-- Edit DialogModel -->
				<p:panelGrid columns="4" styleClass="ui-noborder"
					rendered="#{ViewModelController.selectedViewElement.getClass().getSimpleName() == 'UltraDialogModel'}">
					<h:outputText value="formId" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.formId}" />

					<h:outputText value="widgetWar" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.widgetWar}" />

					<h:outputText value="dialogModelName" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.header}" />

					<h:outputText value="header" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.header}" />

					<h:outputText value="dialogModelName" />
					<p:inputText
						value="#{ViewModelController.selectedViewElement.dialogModelName}" />

					<h:outputText value="dialogModelName" />
					<p:selectBooleanCheckbox
						value="#{ViewModelController.selectedViewElement.modal}" />
				</p:panelGrid>


				<!-- Nested elements -->
				<p:separator />
				<h:outputText value="Nested elements" style="font-weight: bold;" />
				<p:dataTable paginator="true" id="nestedElementsTable"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" rows="5"
					value="#{ViewModelController.selectedViewElementsNestedElements}"
					var="r">
					<f:facet name="header">
						<!-- ViewModel classes (filter)-->
						<p:selectOneMenu filter="true" filterMatchMode="contains"
							value="#{ViewModelController.classNameNewElement}"
							style="float: left; width: 180px;">
							<f:selectItem itemValue="#{null}" itemLabel="Select"
								itemDisabled="true" />
							<f:selectItem
								itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraButtonModel"
								itemLabel="UltraButtonModel" />
							<f:selectItem
								itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraColumnModel"
								itemLabel="UltraColumnModel" />
							<f:selectItem
								itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraDialogModel"
								itemLabel="UltraDialogModel" />
							<f:selectItem
								itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraInputModel"
								itemLabel="UltraInputModel" />
							<f:selectItem
								itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraInputTextModel"
								itemLabel="UltraInputTextModel" />
							<f:selectItem
								itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraOutputTextModel"
								itemLabel="UltraOutputTextModel" />
							<f:selectItem
								itemValue="ch.ultrasoft.guieditorjsf.viewmodel.UltraTableModel"
								itemLabel="UltraTableModel" />
							<p:ajax update="viewModelENtities createNestedButton" />
						</p:selectOneMenu>

						<!-- ViewModel entities -->
						<p:selectOneMenu id="viewModelENtities"
							converter="#{viewModelConverter}"
							value="#{ViewModelController.nestedElement}" filter="true"
							filterMatchMode="contains"
							style="float: left; width: 280px; margin-left: 20px;">
							<f:selectItem itemValue="#{null}" itemLabel="new Element" />
							<f:selectItems
								value="#{ViewModelController.viewElementsByClassName}" var="i"
								itemValue="#{i}"
								itemLabel="#{i.id} - #{i.idElement} - #{i.type} - #{i.getClass().getSimpleName()}"
								itemDisabled="#{i.getClass().getSimpleName() == ViewModelController.classNameNewElement}" />
						</p:selectOneMenu>

						<p:commandButton id="createNestedButton" icon="fa fa-plus-circle"
							style="float: left; margin-left: 20px;"
							title="add nested element" update=":updateDialog :mainForm"
							oncomplete="PF('updateDialog').show();"
							disabled="#{ViewModelController.classNameNewElement eq null}"
							actionListener="#{ViewModelController.addNestedElement()}" />
					</f:facet>
					<p:column headerText="id">
						<h:outputText value="#{r.id}" />
					</p:column>
					<p:column headerText="idElement">
						<h:outputText value="#{r.idElement}" />
					</p:column>
					<p:column headerText="type">
						<h:outputText value="#{r.type}" />
					</p:column>
					<p:column headerText="class">
						<h:outputText value="#{r.getClass().getSimpleName()}" />
					</p:column>
					<p:column style="width: 135px;">
						<p:commandButton icon="fa fa-edit" title="edit"
							actionListener="#{ViewModelController.setSelectedViewElement(r)}"
							update=":updateDialog" oncomplete="PF('updateDialog').show();" />

						<p:commandButton icon="fa fa-unlink" title="unlink"
							actionListener="#{ViewModelController.removeNestedElement(r)}"
							update="nestedElementsTable" />

						<p:commandButton icon="fa fa-trash" title="delete"
							actionListener="#{ViewModelController.setSelectedViewElement(r)}"
							update=":deleteDialog" oncomplete="PF('deleteDialog').show();" />
					</p:column>
				</p:dataTable>
				<p:panelGrid columns="2" style="width: 100%;"
					styleClass="ui-noborder">
					<p:commandButton
						icon="fa fa-save #{ViewModelController.selectedViewElement.id eq null ? 'fa-spin' : ''}"
						style="float: left;" title="save element"
						actionListener="#{ViewModelController.saveSelectedViewElement}"
						update="@form :message :mainForm"
						oncomplete="PF('updateDialog').show();" />
					<p:commandButton icon="fa fa-close" style="float: right;"
						title="close dialog" update=":updateDialog :mainForm"
						oncomplete="PF('updateDialog').hide();"
						actionListener="#{ViewModelController.cancelUpdate()}" />
				</p:panelGrid>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>