<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="../templates/template.xhtml"
	xmlns:us="http://java.sun.com/jsf/composite/us">

	<ui:define name="template">

		<us:updateDialog id="ultraDialog"
			dialog="#{roleViewController.dialogModel}"
			enityController="#{roleController}" viewController="#{roleViewController}" />

		<us:dataTable id="ultraTable"
			dataTable="#{roleViewController.tableModel}" />

	</ui:define>
</ui:composition>