<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="../templates/template.xhtml">

	<ui:define name="template">

		<p:dialog id="updateDialog" widgetVar="updateDialog" resizable="false"
			header="Edit">
			<h:form id="updateForm">
				<h:panelGrid columns="2">
					<h:outputText value="Name" />
					<p:inputText value="#{scheduleController.selectedRecord.name}" />
				</h:panelGrid>

				<p:commandButton value="update"
					actionListener="#{scheduleController.save()}"
					oncomplete="PF('updateDialog').hide();" update=":tableForm" />
				<p:commandButton value="close"
					oncomplete="PF('updateDialog').hide();" />

			</h:form>
		</p:dialog>

		<h:form id="tableForm">
			<p:dataTable value="#{scheduleController.recordList}" var="r">
				<p:column headerText="Name">
					<h:outputText value="#{r.name}" title="#{r}" />
				</p:column>
				<p:column headerText="start">
					<h:outputText value="#{r.start}">
						<f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
					</h:outputText>
				</p:column>
				<p:column headerText="end">
					<h:outputText value="#{r.end}">
						<f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
					</h:outputText>
				</p:column>
				<p:column>
					<p:commandButton icon="fa fa-edit"
						actionListener="#{scheduleController.setSelectedRecord(r)}"
						oncomplete="PF('updateDialog').show();" update=":updateDialog" />
					<p:commandButton icon="fa fa-trash"
						actionListener="#{scheduleController.delete(r)}"
						update=":tableForm" />
				</p:column>
			</p:dataTable>

			<p:commandButton icon="fa fa-plus-circle"
				actionListener="#{scheduleController.clear()}"
				oncomplete="PF('updateDialog').show();" update=":updateDialog" />
		</h:form>
	</ui:define>
</ui:composition>