<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="../templates/template.xhtml">

	<ui:define name="template">


		<p:dialog id="delDialog" widgetVar="delDialog" header="Löschen"
			closable="false" resizable="false">
			<h:form id="delForm">
				<h:panelGrid columns="1" style="margin: auto;">
					<h:outputText value="Soll der User gelöscht werden?" />
				</h:panelGrid>
				<h:panelGrid columns="2" style="margin: 0 auto;">
					<p:commandButton actionListener="#{userController.deleteUser()}"
						update=":tableForm" icon="ui-icon-check"
						oncomplete="PF('delDialog').hide();" />
					<p:commandButton update=":tableForm" icon="ui-icon-cancel"
						oncomplete="PF('delDialog').hide();"
						actionListener="#{userController.cancel()}" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog id="addDialog" widgetVar="addDialog" resizable="false"
			closable="false"
			header="Add user: #{userController.selectedUser.username}">
			<h:form id="addForm">

				<h:panelGrid columns="2">
					<h:outputText value="Username" />
					<p:inputText value="#{userController.selectedUser.username}" />
					<h:outputText value="Password" />
					<p:password value="#{userController.password}">
						<p:ajax event="keyup" update="add" />
					</p:password>
					<h:outputText value="Password repeat" />
					<p:password value="#{userController.controlPassword}">
						<p:ajax event="keyup" update="add" />
						</p:password>
				</h:panelGrid>

				<p:commandButton value="add" id="add"
					actionListener="#{userController.updateUser()}"
					oncomplete="PF('addDialog').hide();"
					disabled="#{userController.password ne userController.controlPassword}"
					update=":tableForm" />
				<p:commandButton value="close"
					oncomplete="PF('addDialog').hide();"
					actionListener="#{userController.cancel()}" />

			</h:form>
		</p:dialog>

		<p:dialog id="updateDialog" widgetVar="updateDialog" resizable="false"
			closable="false"
			header="Update user: #{userController.selectedUser.username}">
			<h:form id="updateForm">

				<h:panelGrid columns="2">
					<h:outputText value="Username" />
					<p:inputText value="#{userController.selectedUser.username}" />
					<h:outputText value="Admin" />
					<p:selectBooleanCheckbox value="#{userController.admin}"
						disabled="#{userController.selectedUser.id eq 0}" />
				</h:panelGrid>

				<p:commandButton value="update" id="update"
					actionListener="#{userController.updateUser()}"
					oncomplete="PF('updateDialog').hide();"
					update=":tableForm" />
				<p:commandButton value="close"
					oncomplete="PF('updateDialog').hide();"
					actionListener="#{userController.cancel()}" />

			</h:form>
		</p:dialog>

		<p:dialog id="passDialog" widgetVar="passDialog" resizable="false"
			closable="false"
			header="Update password: #{userController.selectedUser.username}">
			<h:form id="passForm">

				<h:panelGrid columns="2">
					<h:outputText value="Password" />
					<p:password value="#{userController.password}">
						<p:ajax event="keyup" update="updatePass" />
					</p:password>
					<h:outputText value="Password repeat" />
					<p:password value="#{userController.controlPassword}">
						<p:ajax event="keyup" update="updatePass" />
					</p:password>
				</h:panelGrid>

				<p:commandButton value="update" id="updatePass"
					actionListener="#{userController.updateUser()}"
					oncomplete="PF('passDialog').hide();"
					disabled="#{userController.password ne userController.controlPassword}"
					update=":tableForm:userTable" />
				<p:commandButton value="close" oncomplete="PF('passDialog').hide();"
					actionListener="#{userController.cancel()}" />

			</h:form>
		</p:dialog>


		<h:form id="tableForm">
			<p:dataTable id="userTable" value="#{userController.userlist}"
				var="u">
				<p:column>
					<h:outputText value="#{u.username}" />
				</p:column>
				<p:column>
					<h:outputText value="#{u.password}" />
				</p:column>

				<p:column style="width: 180px;">
					<p:commandButton icon="fa fa-pencil"
						actionListener="#{userController.setSelectedUser(u)}"
						oncomplete="PF('updateDialog').show();" update=":updateDialog"
						style="margin-right: 10px;" />
					<p:commandButton icon="fa fa-key"
						actionListener="#{userController.setSelectedUser(u)}"
						oncomplete="PF('passDialog').show();" update=":passDialog"
						style="margin-right: 10px;" />
					<p:commandButton icon="fa fa-trash"
						actionListener="#{userController.setSelectedUser(u)}"
						oncomplete="PF('delDialog').show();" update=":delDialog" />
				</p:column>
			</p:dataTable>
			<p:column>
				<p:commandButton icon="fa fa-plus-circle"
					actionListener="#{userController.addUser()}"
					oncomplete="PF('addDialog').show();" update=":addDialog" />
			</p:column>
		</h:form>
	</ui:define>
</ui:composition>