<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
	<h:head>
		<f:facet name="first">
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<link type="text/css" rel="stylesheet"
				href="../resources/css/style.css" />
			<h:outputStylesheet library="awesome" name="css/font-awesome.css" />
			<title>JSFCompositeComponents</title>
		</f:facet>
	</h:head>

	<h:body>

		<p:growl id="message" life="5000" autoUpdate="true" globalOnly="true"
			showDetail="true" />


		<p:layout id="mainLayout" fullPage="true">

			<p:dialog widgetVar="terminal" width="600" height="400"
				header="Terminal" resizable="false" showEffect="fade"
				hideEffect="fade" styleClass="terminalDialog" modal="true"
				appendTo="@(body)">
				<h:form>
					<p:focus for="terminal" />

					<p:terminal id="terminal" widgetVar="term"
						commandHandler="#{terminalController.handleCommand}" prompt="$ " />

					<p:commandButton type="button" value="Clear" icon="ui-icon-trash"
						onclick="PF('term').clear()" style="margin-top:10px" />
				</h:form>
			</p:dialog>

			<p:dialog widgetVar="rshDialog" header="ReverseShell" modal="true"
				appendTo="@(body)">
				<h:form>
					<h:panelGrid columns="2">
						<h:outputText value="Remote Host:" />
						<p:inputText value="#{reverseShellSocketController.host}" />
						<h:outputText value="Remot port:" />
						<p:inputText value="#{reverseShellSocketController.port}" />
						<h:outputText value="Password:" />
						<p:password value="#{reverseShellSocketController.password}" />
					</h:panelGrid>
					<p:commandButton id="loginButton" widgetVar="loginButton"
						icon="fa fa-support"
						action="#{reverseShellSocketController.connect()}"
						onclick="PF('rshDialog').hide();" style="float: middle;" />
				</h:form>
			</p:dialog>

			<p:layoutUnit position="center"
				header="Experiment JSFCompositeComponents">
				<ui:insert name="template" />
				<p:dock>
					<p:menuitem value="Users" icon="/pages/resources/images/user.svg"
						url="/pages/views/user.jsf" style="color: #aaaaaa;" />
					<p:menuitem value="Schedules"
						icon="/pages/resources/images/calendar.svg"
						url="/pages/views/schedule.jsf" style="color: #aaaaaa;" />
					<p:menuitem value="Roles" icon="/pages/resources/images/user.svg"
						url="/pages/views/role.jsf" style="color: #aaaaaa;" />
					<p:menuitem value="Terminal"
						icon="/pages/resources/images/terminal.svg" url="#"
						onclick="PF('terminal').show();" style="color: #aaaaaa;" />
					<p:menuitem value="RSH"
						icon="/pages/resources/images/reverseconnection.svg" url="#"
						onclick="PF('rshDialog').show();" style="color: #aaaaaa;" />
					<p:menuitem value="View Models"
						icon="/pages/resources/images/devel.svg"
						url="/pages/views/viewmodel/main.jsf" style="color: #aaaaaa;" />
				</p:dock>

			</p:layoutUnit>
		</p:layout>
	</h:body>

</f:view>
</html>
