<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="controllerBean" type="java.lang.Object"
			required="true" />
		<composite:attribute name="button" type="java.lang.Object"
			required="true" />
		<composite:attribute name="parameter" default="()"
			type="java.lang.Object" required="false" />

	</composite:interface>

	<composite:implementation>
		<c:choose>
			<c:when test='#{fn:endsWith(cc.attrs.button.methodName, "()")}'>
				<p:commandButton id="#{cc.attrs.button.id}"
					value="#{cc.attrs.button.value}"
					icon="#{cc.attrs.button.icon}"
					actionListener="#{cc.attrs.controllerBean[fn:replace(cc.attrs.button.methodName, '[\\(\\)]', '')]}"
					update="#{cc.attrs.button.update}"
					oncomplete="#{cc.attrs.button.onComplete}" />
			</c:when>
			<c:otherwise>
				<p:commandButton id="#{cc.attrs.button.id}"
					value="#{cc.attrs.button.value} #{cc.attrs.parameter}"
					icon="#{cc.attrs.button.icon}"
					actionListener="#{cc.attrs.controllerBean[cc.attrs.button.methodName](cc.attrs.parameter)}"
					update="#{cc.attrs.button.update}"
					oncomplete="#{cc.attrs.button.onComplete}" />
			</c:otherwise>
		</c:choose>
	</composite:implementation>

</ui:composition>