<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="controllerBean" type="java.lang.Object"
			required="true" />
		<composite:attribute name="column" type="java.lang.Object"
			required="true" />

	</composite:interface>

	<composite:implementation>
		<p:column headerText="#{cc.attrs.column.header}">
			<c:forEach items="#{c.viewModelList}" var="v">
				<c:choose>
					<c:when test="#{v.type eq 'UltraButtonModel'}">
						<c:choose>
							<c:when test="#{v.parameter}">
								<p:commandButton value="#{v.value}" icon="#{v.icon}"
									actionListener="#{cc.attrs.bean[v.methodName](r)}"
									update="#{v.update}" oncomplete="#{v.onComplete}" />
							</c:when>
							<c:otherwise>
								<p:commandButton value="#{v.value}" icon="#{v.icon}"
									actionListener="#{cc.attrs.bean[v.methodName]}"
									update="#{v.update}" oncomplete="#{v.onComplete}" />
							</c:otherwise>
						</c:choose>
					</c:when>
					<c:otherwise>
						<h:outputText value="#{r[v.value]}" title="#{r.id}" />
					</c:otherwise>
				</c:choose>
			</c:forEach>
		</p:column>
	</composite:implementation>

</ui:composition>