<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:us="http://java.sun.com/jsf/composite/us">

	<composite:interface>
		<composite:attribute name="dataTable" type="java.lang.Object" />
		
		<composite:attribute name="viewController"
			default="#{roleViewController}" type="java.lang.Object" />
		
		<composite:attribute name="updateDialog"
			default="updateDialog" type="java.lang.String" />
	</composite:interface>

	<composite:implementation>
		<h:form id="dataTableForm">
			<p:dataTable
				value="#{cc.attrs.viewController.getManagedBean(cc.attrs.dataTable.bean)[cc.attrs.dataTable.listName]}"
				var="r" id="dataTable" paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" rows="5" widgetVar="dataTable">

				<f:facet name="header">
					<p:commandButton value="add" icon="fa fa-plus-circle"
						style="float: left;" actionListener="#{cc.attrs.viewController.getManagedBean(cc.attrs.dataTable.bean).clear()}"
						oncomplete="PF('testDialog').show();" update="ultraDialog:testDialog" />
					<p:commandButton style="float: right;" value="reload"
						icon="fa fa-refresh"
						actionListener="#{cc.attrs.viewController.getManagedBean(cc.attrs.dataTable.bean).doHardReload()}" />
				</f:facet>
				
				<!-- c:forEach genutzt weil ui:repeat hier kein output liefert -->
				<c:forEach items="#{cc.attrs.dataTable.nestedElements}" var="c">
					<c:forEach items="#{ViewModelController.service.findViewElement(c).nestedElements}" var="v">
						<c:choose>
							<c:when test="#{ViewModelController.service.findViewElement(c).type ne 'UltraButtonModel'}">
								<p:column headerText="#{ViewModelController.service.findViewElement(c).header}" filterMatchMode="contains"
									filterBy="#{r[ViewModelController.service.findViewElement(v).value]}" sortBy="#{r[ViewModelController.service.findViewElement(v).value]}">
									<h:outputText value="#{r[ViewModelController.service.findViewElement(v).value]}" title="#{r.id}" />
								</p:column>
							</c:when>
						</c:choose>
					</c:forEach>
					<c:choose>
						<c:when test="#{ViewModelController.service.findViewElement(c).type eq 'UltraButtonModel'}">
							<p:column>
								<c:forEach items="#{ViewModelController.service.findViewElement(c).nestedElements}" var="v">
									<c:choose>
										<c:when test="#{ViewModelController.service.findViewElement(v).parameter}">
											<p:commandButton value="#{ViewModelController.service.findViewElement(v).value}" icon="#{ViewModelController.service.findViewElement(v).icon}"
												actionListener="#{cc.attrs.viewController.getManagedBean(ViewModelController.service.findViewElement(v).bean)[ViewModelController.service.findViewElement(v).methodName](r)}"
												update="#{ViewModelController.service.findViewElement(v).update}" oncomplete="#{ViewModelController.service.findViewElement(v).onComplete}" />
										</c:when>
										<c:otherwise>
											<p:commandButton value="#{ViewModelController.service.findViewElement(v).value}" icon="#{ViewModelController.service.findViewElement(v).icon}"
												actionListener="#{cc.attrs.viewController.getManagedBean(ViewModelController.service.findViewElement(v).bean)[ViewModelController.service.findViewElement(v).methodName]}"
												update="#{ViewModelController.service.findViewElement(v).update}" oncomplete="#{ViewModelController.service.findViewElement(v).onComplete}" />
										</c:otherwise>
									</c:choose>
								</c:forEach>
							</p:column>
						</c:when>
					</c:choose>
				</c:forEach>
			</p:dataTable>
		</h:form>
	</composite:implementation>
</ui:composition>