<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="bean" type="java.lang.String" />
		<composite:attribute name="method" type="java.lang.String" />
	</composite:interface>

	<composite:implementation>
		<h:form>
			<p:commandButton value="test" icon="fa fa-test"
				actionListener="#{roleViewController.getManagedBean(cc.attrs.bean)[cc.attrs.method]}" update=":message" />
		</h:form>
	</composite:implementation>

</ui:composition>