<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="dialog" type="java.lang.Object"
			default="#{roleViewController.dialogModel}" required="true" />

		<composite:attribute name="viewController"
			default="#{roleViewController}" type="java.lang.Object"
			required="true" />

		<composite:attribute name="entityController"
			default="#{roleController}" type="java.lang.Object" required="true" />

	</composite:interface>

	<composite:implementation>
		<p:dialog id="#{cc.attrs.dialog.widgetWar}"
			widgetVar="#{cc.attrs.dialog.widgetWar}" resizable="false"
			header="#{cc.attrs.dialog.header}" modal="#{cc.attrs.dialog.modal}"
			appendTo="@(body)">
			<h:form id="#{cc.attrs.dialog.formId}">
				<c:forEach var="r" items="#{cc.attrs.dialog.nestedElements}">
					<c:if test="#{not empty ViewModelController.service.findViewElement(r).element.bean}">
						<h:panelGrid columns="2">
							<h:outputText value="#{ViewModelController.service.findViewElement(r).label}" />
							<p:inputText
								value="#{cc.attrs.viewController.getManagedBean(ViewModelController.service.findViewElement(r).element.bean).selectedRecord[ViewModelController.service.findViewElement(r).element.value]}" />
						</h:panelGrid>
					</c:if>
				</c:forEach>

				<p:commandButton value="update"
					actionListener="#{cc.attrs.entityController.save()}"
					oncomplete="PF('testDialog').hide();"
					update="ultraTable:dataTableForm" />

				<p:commandButton value="close" oncomplete="PF('testDialog').hide();"
					actionListener="#{cc.attrs.entityController.clear()}"
					update="ultraTable:dataTableForm" />
			</h:form>
		</p:dialog>
	</composite:implementation>

</ui:composition>