@CHARSET "UTF-8";

.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}

/* Calendar */
.eventRed .fc-event-inner {
	background: red;
}

.eventGreen .fc-event-inner {
	background: green;
}

.eventBlue.fc-event-inner {
	background: blue;
}

.test {
	color: #00ff00;
}

.adminBackground {
	background-image: url('../images/madhouse.jpg') no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}