<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>JSF</title>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<h:outputStylesheet library="awesome" name="css/font-awesome.css" />
</h:head>


<h:body>

	<p:growl id="message" life="3000" />

	<p:layout id="mainLayout" fullPage="true">

		<p:layoutUnit position="north" header="Growl">
			<h:form>
				<p:commandButton icon="fa fa-arrow-circle-right" value="Message"
					action="inputvalidation?faces-redirect=true" ajax="false" />
			</h:form>
		</p:layoutUnit>
		<p:layoutUnit position="center">
			<h:form>
				<h:panelGroup id="panel">
					<p:panelGrid columns="3" styleClass="ui-noborder">
						<h:outputLabel for="name" value="Name:" style="font-weight:bold" />
						<p:inputText id="name" value="#{text}" required="true"
							label="Name" />
						<h:outputText value="#{text}" />

						<h:outputLabel for="textonly" value="text only:"
							style="font-weight:bold" />
						<p:inputText id="textonly" value="#{textonlyRegex}"
							required="true" label="text only" requiredMessage="is text only!"
							validatorMessage="is text only!">
							<f:validateRegex pattern="^[a-zA-Z]+$" for="textonly" />
						</p:inputText>
						<h:outputText value="#{textonlyRegex}" />

						<h:outputLabel for="integer" value="integer:"
							style="font-weight:bold" />
						<p:inputText id="integer" value="#{integerRegex}" required="true"
							label="integer" requiredMessage="must be a integer!"
							validatorMessage="must be a integer!">
							<f:validateRegex pattern="^\d+$" for="integer" />
						</p:inputText>
						<h:outputText value="#{integerRegex}" />

						<h:outputLabel for="double" value="double:"
							style="font-weight:bold" />
						<p:inputText id="double" value="#{doubleRegex}" required="true"
							label="double" requiredMessage="must be a double!"
							validatorMessage="must be a double!">
							<f:validateRegex pattern="^\d+(\.)?(\d)?$" for="double" />
						</p:inputText>
						<h:outputText value="#{doubleRegex}" />

						<h:outputLabel for="email" value="e-mail:"
							style="font-weight:bold" />
						<p:inputText id="email" value="#{emailRegex}" required="true"
							label="double" requiredMessage="must be an e-mail!"
							validatorMessage="must be an e-mail!">
							<f:validateRegex
								pattern="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$"
								for="double" />
						</p:inputText>
						<h:outputText value="#{doubleRegex}" />
					</p:panelGrid>
				</h:panelGroup>
				<p:commandButton icon="fa fa-save" value="no ajax"
					validateClient="true" update="panel" ajax="false"
					actionListener="#{validationController.save()}" />


			</h:form>

			<h:form>
				<p:commandButton icon="fa fa-save" value="hello" ajax="false"
					actionListener="#{tableController.hello()}" />
					
					<p:inputText value="#{tableController.hello}" />

				<p:dataTable value="#{tableController.viewElements}" var="r"
					paginator="true"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,20,25" rows="10">
					<p:column headerText="id" filterBy="#{r.id}"
						filterMatchMode="contains">
						<h:outputText value="#{r.id}" />
					</p:column>
				</p:dataTable>

			</h:form>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>









