<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
	<h:head>
		<f:facet name="first">
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<link type="text/css" rel="stylesheet"
				href="../resources/css/style.css" />
			<h:outputStylesheet library="awesome" name="css/font-awesome.css" />
			<title>JSFCompositeComponents</title>
		</f:facet>
	</h:head>

	<h:body>

		<p:growl id="message" life="5000" autoUpdate="true" globalOnly="true"
			showDetail="true" />


		<p:layout id="mainLayout" fullPage="true">

			<p:layoutUnit position="center"
				header="Experiment JSFCompositeComponents">
				<p:dataTable value="#{xmlViewModelController.viewElements}" var="r">
					<p:column>
						<h:outputText value="#{r.id}" />
					</p:column>
				</p:dataTable>

			</p:layoutUnit>
		</p:layout>
	</h:body>

</f:view>
</html>
